html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/css/bootstrap.css')
        title Graham's Solitaire Application
    body.container-fluid
        div#mainDiv
        script(src="/js/vendor.js")
        script(src="/js/main.js")
